body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: calc(100% - 6rem);
}

div#maxwell {
  flex: 1;
  height: 100%;
  width: calc(100% - 6rem);
}

main {
  flex: 0 0 300px;
  height: 100%;
  width: 100%;
}

h1,
h2,
p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

h1,
h2 {
  text-align: center;
}

.container {
  padding: 0 3rem;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: #444;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;

  a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    border-bottom: 1px dotted #fff;
  }
}

hr {
  border: 0;
  border-top: 1px dashed #333;
  margin: 1rem 0;
}
